/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html,
   button,
   input,
   select,
   textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

 img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

 fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body {
    border-top: .2em solid #3FA2EE;
    text-align: center;
    font-family: 'Kite One', sans-serif;
    /*text-shadow: 1px 1px 0 #ddd;*/
}
h1 {
    font-size: 55px;
    font-weight: bold;
}
a[name] {
    color: inherit;
}
header {
}
section h1 {
    padding-bottom: 10px;
}
.top h1 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 65px;
    margin-top: 20px;
    margin-bottom: 0;
}
.top h2 {
    margin-top: 0;
}
.photo {
    clear: both;
    height: 719px;
    background: url(../img/pics/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #c7c7c7
}
header h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

h2 {
    color: #ccc;
}
header nav  {
    display: block;
    clear: both;
}
header nav ul {
    list-style: none;
}
header nav ul li {
    text-align: left;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    border-right: 1px solid #ccc;
}
header nav ul li:last-child {
    margin: 0;
    padding: 0;
    border: none;
}
header nav ul li a, header nav ul li a:visited { 
    color: #3FA2EE;
    text-decoration: none; 
    display: block;
    float: left;
    font-size: 18px;
    font-weight: bold;
}
header nav ul li a:hover { 
    color: #2F8EB4;  
}
header nav ul li a span {
    display: block;
    margin-top: 2px;
    font-size: 13px;
    font-weight: normal;
}
/* footer */
footer {
    position: relative;
    overflow: hidden;
}
footer .photo {
    clear: both;
    height: 960px;
    background: url(../img/pics/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black
}
footer .text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}
footer nav  {
    display: block;
    clear: both;
}
footer nav ul {
    list-style: none;
}
footer nav ul li {
    text-align: left;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    border-right: 1px solid #ccc;
}
footer nav ul li:last-child {
    margin: 0;
    padding: 0;
    border: none;
}
footer nav ul li a, footer nav ul li a:visited { 
    color: #3FA2EE;
    text-decoration: none; 
    display: block;
    float: left;
    font-size: 18px;
    font-weight: bold;
}
footer nav ul li a:hover { 
    color: #2F8EB4;  
}
footer nav ul li a span {
    display: block;
    margin-top: 2px;
    font-size: 13px;
    font-weight: normal;
}       
/* end: footer */;
section {
    padding: 50px;
}

/* BIO 2*/
.bio2 h1 {
    border-top: 10px solid #3FA2EE;
    background-color: #41B3D7;
    
    text-align: center;
    color: white;
}
.bio2 p {
    margin: 0 auto;
    max-width: 560px;
}
/* END: BIO2 */
/* pictures */
.pictures h1 {
    border-top: 10px solid #3FA2EE;
    background-color: #41B3D7;
    text-align: center;
    color: white;
}
/* END: pictures */

.bio {
    display: none;
    border-top: 10px solid #C73035;
    text-align: center;
    /*background-color: #DD3C41 ;*/
    color: white;
}
.bio p {
    position: relative;
    z-index: 1000;
}

.bio {
    height: 430px;
    overflow: hidden;
    position: relative;
    background: red url(../img/startup/startup-retina.png) repeat-y center top;
    -webkit-animation: slides 60s linear infinite;
    -moz-animation: slides 60s linear infinite;
    -o-animation: slides 60s linear infinite;
    -ms-animation: slides 60s linear infinite;
    animation: slides 60s linear infinite;
    padding-top: 50px;
}
.bio::before {
    left: 0;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwNDM0OSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNlMDQzNDkiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiKDIyNCwgNjcsIDczKSIgc3RvcC1vcGFjaXR5PSIwIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
    background-image: -moz-linear-gradient(left,#E04349 0,#E04349 50%,rgba(224, 67, 73, 0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,#E04349),color-stop(50%,#E04349),color-stop(100%,rgba(224, 67, 73, 0)));
    background-image: -webkit-linear-gradient(left,#E04349 0,#E04349 50%,rgba(224, 67, 73, 0) 100%);
    background-image: -o-linear-gradient(left,#E04349 0,#E04349 50%,rgba(224, 67, 73, 0) 100%);
    background-image: linear-gradient(to right,#E04349 0,#E04349 50%,rgba(224, 67, 73, 0) 100%);
}
.bio::after {
    right: 0;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTAwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwNDM0OSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNlMDQzNDkiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiKDIyNCwgNjcsIDczKSIgc3RvcC1vcGFjaXR5PSIwIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
    background-image: -moz-linear-gradient(right,#E04349 0,#E04349 50%,rgba(224, 67, 73, 0) 100%);
    background-image: -webkit-gradient(linear,right top,left top,color-stop(0%,#E04349),color-stop(50%,#E04349),color-stop(100%,rgba(224, 67, 73, 0)));
    background-image: -webkit-linear-gradient(right,#E04349 0,#E04349 50%,rgba(224, 67, 73, 0) 100%);
    background-image: -o-linear-gradient(right,#E04349 0,#E04349 50%,rgba(224, 67, 73, 0) 100%);
    background-image: linear-gradient(to left,#E04349 0,#E04349 50%,rgba(224, 67, 73, 0) 100%);
}
.bio::before, .bio::after {
    content: "";
    position: absolute;
    top: 0;
    height: 660px;
    width: 350px;
}

@-webkit-keyframes slides {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -659px;
    }
}

@-moz-keyframes slides {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -659px;
    }
}

@-o-keyframes slides {
    from;

    {
        background-position: 0 0;
    }

    to {
        background-position: 0 -659px;
    }

}

@-ms-keyframes slides {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -659px;
    }
}

@keyframes slides {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -659px;
    }
}

.songs {

}
.songs h1 {
    border-top: 10px solid #3FA2EE;
    background-color: #41B3D7;
    color: white;
}
.songs article {
    text-align: left;
}
.songs article h2 {
    color: #444;
}

blockquote {
    margin: 1em 0 1em 0;
    position: relative;
}
blockquote p:before {
    font-size: 200%;
    content: "\201C";
    position: relative;
}
blockquote p:after {
    font-size: 200%;
    content: "\201D";
    top: 23px;
    position: relative;
}

cite {
    font-size: 0.8em;
    margin-left: 80px;
}

article {
    margin: 0 0 20px 30%;
}
article header h2 {
    margin: 0 0 15px 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.3;
}
article aside {
    float: left;
    width: 30%;
    margin-left: -35%;
    font-size: 12px;
    line-height: 1.8;
    color: #999;
}
@media screen and (max-width: 700px) {
    article aside {
        float: none;
        width: auto;
        margin: 0 0 20px 0;
        line-height: 1.5;
    }
    article {
        margin: 25px 10px 0 10px;
    }
}
article p {
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 1.5;
    color: #666;
}
article footer {
    font-size: 9px;
    color: #999;
}               







/* ==========================================================================
   Helper classes
   ========================================================================== */

   /* Prevent callout */

   .nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

 .ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

 .hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

 .invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

 .clearfix:before,
 .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

 .clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
